.trips {
    display: flex;
    justify-content: space-around;
    flex: 1 1 0;
}

.trips__item {
    position: relative;

    font-weight: 500;
    color: $clr--text;

    border-radius: 2.4rem;
    box-shadow: 0 3.852rem 2.546rem rgba(#000, .1);
    overflow: hidden;

    transition: transform .25s ease-in-out;

    &:hover {
        transform: translate3d(-10px, -10px, 0);
    }
}

.trips__link {}

.trips__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    padding: 2.5rem 2.5rem 4.2rem;

    background: $white;
}

.trips__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    font-size: 1.8rem;
}

.trips__name,
.trips__cost {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.trips__term {
    padding-left: 3rem;

    font-size: 1.6rem;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.trips__footer {
    position: relative;
}

.trips__nav {
    position: absolute;
    bottom: .3rem;
    left: 0;
    z-index: 1;

    width: 1.625rem;
    height: 1.625rem;

    fill: $black;
}